if command -v asdf > /dev/null; then
    if ! asdf plugin-list | grep python > /dev/null; then
        echo "Installing asdf plugin python"
        asdf plugin-add python
    fi
  asdf install python $(cat ./.tool-versions | grep python | cut -f 2 -d " ")
fi

layout python $(asdf which python)
